@page "/"
@using BlazorMedia
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

@if(IsRecording)
{
    <VideoMedia OnDataReceived="OnDataReceived" Timeslice="100" Width="1024" Height="768" RecordAudio="true"></VideoMedia>
}
else
{
    <VideoMedia Timeslice="100" Width="1024" Height="768" RecordAudio="true"></VideoMedia>
}
<button @onclick="@(()=>{ IsRecording = !IsRecording; })">Toggle Recording</button>
@code {
    protected bool IsRecording = false;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

    protected void OnDataReceived(byte[] data)
    {
        Console.WriteLine(data.Length);
    }
}