@page "/"
@using BlazorMedia
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

@if(BlazorMediaAPI.Initialized)
{
    <VideoMedia OnDataReceived="OnDataReceived" Timeslice="100" />
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            if(!BlazorMediaAPI.Initialized) await BlazorMediaAPI.InitializeMediaStream(JSRuntime);
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected void OnDataReceived(byte[] data)
    {
        Console.WriteLine(data.Length);
    }
}